@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #3c3a4f;
}

body,
html {
  /* height: 100%; */
  font-family: "Nunito", sans-serif;
  color: white;
}

.links ul li {
  list-style: none;
  display: inline-block;
  margin-right: 25px;
}

.links ul li a {
  text-decoration: none;
  color: #94a1b2;
  transition: color 0.3s ease-in-out;
}

.links ul li a:hover {
  color: #8863ff;
}

.links ul {
  font-size: 0.8rem;
}

p,
ul {
  margin-bottom: 0px;
}

.navBar {
  /* position: sticky;
  opacity: 0.95;
  top: 0; */
  width: 100%;
  background-color: #16161a;
  box-shadow: 1px 1px 18px #272727;
  height: 125px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcomeSection {
  height: 87vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #3C3A4F; */
  background-color: rgba(170, 170, 170, 0.719);
}

.profileImage img {
  height: 100%;
}

.persDesc {
  position: absolute;
  top: 20%;
  left: 10%;
}

.profileImage {
  position: absolute;
  top: 55%;
  right: 25%;
  height: 45%;
  box-shadow: 1px 1px 18px #272727;
}

.persDesc p {
  color: #454546;
  font-weight: bold;
  font-size: 2rem;
  margin-left: 25px;
}

.persDesc h1 {
  max-width: 550px;
  font-size: 2rem;
}

.persDesc p span.hoverEff {
  transition: color 0.3s ease-in-out;
  font-size: 1rem;
  /* cursor: pointer; */
}

.persDesc p span {
  font-size: 1rem;
}

.persDesc p span.hoverEff:hover {
  color: #8863ff;
}

/*  Here is where we create the hover animation  */

.persDesc h1 span {
  /* position: relative; */
  color: #8863ff;
  overflow: hidden;
  background: linear-gradient(to right, #d49f5f, #d49f5f 50%, #8863ff 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease, font-weight 275ms ease;
}

.persDesc h1 span:hover {
  font-weight: bold;
  background-position: 0 100%;
}

/* Hover animation ended */

.aboutMe {
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.719);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#fp-nav ul li a span {
  background: #8863ff;
}

.aboutImage img {
  position: absolute;
  bottom: 20%;
  right: 5%;
  height: 25%;
  z-index: 1;
}

.aboutText {
  position: absolute;
  top: 20%;
  left: 10%;
}

.aboutText h1,
.skillsText h1 {
  font-size: 5rem;
  color: #3c3c3f;
}

.textBox {
  /* border: 2px solid white; */
  box-shadow: 1px 1px 18px #3a3a3a;
  opacity: 0.9;
  padding: 50px 100px;
  /* border-radius: 2px; */
  width: 70%;
  overflow: auto;
  text-overflow: ellipsis;
  height: 35%;
  background-color: #28282c;
  z-index: 2;
}

.textBox p {
  max-width: 700px;
  /* color: #8863FF; */
}

.skillsText {
  position: absolute;
  top: 50px;
  left: 50px;
}

.skillsText h1 {
  color: #3c3c3f;
}

.skillsSection {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgba(255, 255, 255, 0.719);
}

/* The whole skill bar */

.skillBar {
  width: 50%;
  margin: 0px auto 0;
  padding: 20px;
}

.skillBar ul li {
  position: relative;
  list-style: none;
  margin: 50px 0;
  /* font-weight: 50; */
  text-transform: uppercase;
}

.skillBar ul li:before {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 100%;
  height: 15px;
  background-color: #8f353e;
  border-radius: 1000px;
}

.skillBar ul li:after {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 0;
  height: 15px;
  background-color: #eb5565;
  border-radius: 1000px;
  animation-duration: 0.7s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.skillBar ul li.html:after {
  animation-name: html;
}

@keyframes html {
  to {
    width: 90%;
  }
}

.skillBar ul li.css:after {
  animation-name: css;
}

@keyframes css {
  to {
    width: 60%;
  }
}

.skillBar ul li.js:after {
  animation-name: js;
}

@keyframes js {
  to {
    width: 85%;
  }
}

.skillBar ul li.react:after {
  animation-name: react;
}

@keyframes react {
  to {
    width: 70%;
  }
}

/* Skill bar ended */

.skillsArea {
  margin-top: 250px;
  box-shadow: 1px 1px 18px #6d6d6d;
  border-radius: 5px;
  /* padding: 25px; */
  background-color: #16161a;
  z-index: 1;
  opacity: 0.98;
  height: 50%;
  width: 80%;
  overflow: auto;
}

.skillsArea p {
  color: rgba(255, 255, 255, 0.719);
  font-size: 18px;
  width: 100%;
  padding: 35px;
}

.circleImage {
  position: absolute;
  bottom: 100px;
  left: 100px;
  z-index: 0;
  opacity: 0.5;
}

.projectsSection {
  height: 100vh;
  background-color: rgba(170, 170, 170, 0.719);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.flexMaybe {
  max-width: 900px;
  /* opacity: .7; */
  max-height: 900px;
}

.carousel-caption h5,
.carousel-caption p {
  color: #16161a;
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 10px;
}

.fillText {
  position: absolute;
  top: 40px;
  color: #3c3c3f;
}

.carousel-caption {
  background-color: rgba(170, 170, 170, 0.904);
  border-radius: 10px;
}

.contactCont {
  background-color: rgb(22, 22, 26);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* position: relative; */
}

.contactText {
  padding-bottom: 3%;
}

.contactForm {
  padding: 100px 50px;
  /* border: 2px solid rgba(255, 255, 255, 0.719); */
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 10px;
}

.contactForm:hover {
  box-shadow: none;
}

.contactLinks ul li {
  margin-top: 50px;
  list-style: none;
  display: inline-block;
  margin-right: 25px;
}

.contactLinks ul li:last-child {
  margin-right: 0px;
}

.contactLinks ul li:first-child {
  margin-left: 25px;
}

.contactLinks ul li a {
  text-decoration: none;
  color: #94a1b2;
  transition: color 0.3s ease-in-out;
}

.contactLinks ul li a:hover {
  color: #8863ff;
}

.logoSpace img {
  width: 50%;
}

.logoSpace {
  text-align: center;
  margin-left: 2%;
}

/* Button hover effect */

#button {
  margin-top: 15px;
  /*Reset*/
  display: inline-block;
  outline: none;
  background-color: transparent;

  /*Some fancy stuff*/
  padding: 0 20px;
  line-height: 200%;
  border: 1px solid white;
  border-radius: 5px;
  color: white;

  /*Magic*/
  background-image: linear-gradient(
    transparent,
    transparent 50%,
    #8863ff 50%,
    #8863ff
  );
  background-size: 100% 200%;
  -webkit-transition: background-position 0.3s, box-shadow 0.3s ease-in-out;
  transition: background-position 0.3s, box-shadow 0.3s ease-in-out;
}

#button:hover {
  box-shadow: 1px 1px 18px #2727274f;
  background-position: 0 -100%;
}

/* Button hover effect ended */

::-webkit-scrollbar {
  display: none;
}

@media (min-width: 1200px) {
  .profileImage {
    position: absolute;
    top: 25%;
    right: 15%;
    height: 75%;
    box-shadow: 1px 1px 18px #272727;
  }
  .persDesc h1 {
    font-size: 2.5rem;
  }
  .links ul {
    font-size: 1rem;
  }
  #button {
    margin-top: 50px;
  }
}

@media (min-width: 992px) {
  .skillsArea {
    height: 70%;
    width: 50%;
  }
  .aboutImage img {
    position: absolute;
    bottom: 10%;
    right: 15%;
    height: 35%;
    z-index: 1;
  }
  .aboutText h1 {
    font-size: 9rem;
  }
  .textBox {
    /* border: 2px solid white; */
    box-shadow: 1px 1px 18px #3a3a3a;
    opacity: 0.9;
    padding: 50px 100px;
    /* border-radius: 2px; */
    overflow: auto;
    text-overflow: initial;
    width: 50%;
    height: 35%;
    background-color: #28282c;
    z-index: 2;
  }
  .contactForm:hover {
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.719);
  }
}

@media (min-width: 768px) {
  /* .profileImage {
    position: absolute;
    top: 45%;
    right: 15%;
    height: 55%;
    box-shadow: 1px 1px 18px #272727;
  } */
  .skillsText h1 {
    font-size: 9rem;
  }
}

@media (min-width: 576px) {
}
