* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  /* height: 100%; */
}
.box-with-text {
    text-transform: uppercase;
    font: bold 26vmax/.8 Open Sans, Impact;
    background: black;
    display: table;
    color: white;
    mix-blend-mode: multiply
  }
  
  @keyframes stripes {
    to {
      background-size:100% 100%;
    }
  }
  
  html {
    display: flex;
    align-items:center;
    height: 100%;
    background: black;
  }
  
  body {
    margin: auto;
    background: linear-gradient( crimson , crimson) turquoise no-repeat 0 0;
    background-size: 0 100%;
    animation: stripes 2s linear infinite;
  }